.container {
  padding: 40px;
  border-radius: 28px;
  border: 2px solid #2aa996;
  background: linear-gradient(#ffffff, #f8fdff);
  box-shadow: 4px 10px 22px #0000000f;
  margin-top: -100px;
  position: relative;
}

.input_field {
  width: 100%;
  height: 60px;
}

.input_field :global(.ant-input-prefix) {
  color: #bfbaba !important;
  font-size: 20px;
}

.search_wrapper {
  position: absolute;
  background-color: white;
  margin-top: 10px;
  box-shadow: 5px 5px 10px #00000014;
  width: calc(100% - 80px);
}

.search_container {
  padding: 16px 50px;
}

.button_filter_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter_text {
  font-size: 24px;
  font-weight: 700;
  color: #1e1e1e;
}

.button_filter {
  min-width: 65px;
  padding: 8px 20px;
  border: 1px solid #1c2a3a;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.filter_found_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clinic_list_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 300px;
  overflow-y: auto;
}

.clinic_item_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.clinic_subitem_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.clinic_item_title {
  font-size: 16px;
  font-weight: 700;
  color: #1f2a37;
  margin: 0;
}

.clinic_item_type {
  font-size: 14px;
  font-weight: 600;
  color: #4b5563;
  margin: 4px 0;
}

.clinic_item_info {
  font-size: 12px;
  font-weight: 400;
  color: #4b5563;
  margin: 4px 0;
}
